{% extends "search/base.html" %} 
{% load search_extras %}
{% block body %}    

    <div class="row">

        {% comment %} Search form {% endcomment %}
        <form method="GET" class="col s12 m10 offset-m1 l6 offset-l3">

            <h5 class="center-align major-mono"> 
            <span id="dev-heading">Dev</span><span id="remaining-heading">Xplore</span> </h5>
            <div class="row"></div>
            <div class="input-field z-depth-1" id="search-box">
                    <i id="search-icon" class="material-icons prefix">search</i>

                    <input
                        type="search"
                        id="search-field"
                        placeholder="Web, App, APIs"
                        name="q"
                        value="{{query}}"
                    />
            </div>
            {% if not query %}
                <div class="right-align ">
                    <button type="submit" class="rounded btn-small theme-button" >Search</button>
                </div>
            {% endif %}

        </form>

        {% if query %}

            {% comment %} Results section {% endcomment %}

            <div id="results" class="col s12 m8 offset-m2 l6 offset-l3">

                    {% comment %} Tabs  {% endcomment %}
                    <ul class="tabs row">
                        {% for category in results.keys %}
                            <li class="tab m2 l2 xl2">
                                <a class="{{category}} {% if forloop.counter0 == 0  %} active {% endif %}"  
                                    href="#search-{{category|to_hyphens}}">
                                    {{category}}
                                </a>
                            </li>
                        {% endfor %} 
                    </ul>

                    {% comment %} Extra margin {% endcomment %}
                    <div class="row"></div>

                    {% comment %} Search results {% endcomment %}
                    {% for category, search_results in results.items %}

                        <div id="search-{{category|to_hyphens}}">
                            {% for item in search_results %}
                                        <div class="card search-card">
                                            <div class="card-content">
                                                <a href="{{item.link}}" rel="noopener" class="card-title search-title">{{item.title}}</a>
                                                <p><span class="search-link" >{{item.htmlFormattedUrl | safe}}</span></p>
                                                <p class="search-snippet">{{item.htmlSnippet | safe}}</p>
                                            </div>
                                            
                                        </div>

                                {% empty %} 

                                    {% comment %} if no results found and daily search limit is not reached {% endcomment %}
                                    {% if query and not limit_reached %}
                                        <p class="center-align grey-text text-darken-2">
                                            <span> 
                                                <i class="material-icons">emoji_nature</i>
                                                <span class="light-text med-font">Nothing found</span>
                                            </span>
                                        </p>
                                    
                                    {% comment %} if no results found and daily search limit is exceeded {% endcomment %}
                                    {% elif query and limit_reached %}
                                        <p class="center-align grey-text text-darken-2">
                                            <span> 
                                                <i class="material-icons">hourglass_empty</i>
                                                <span class="light-text med-font"> Search limit reached </span>
                                            </span>
                                        </p>
                                    {% endif %} 

                            {% endfor %}
                        </div>

                    
                    {% endfor %}
            </div>
        {% endif %}

    </div>
{% endblock body %}
