/* Dark Mode */
:root {
    --accent-color:#ce93d8;
    --accent-color-transparent: #1e88e520;
    --borderRadius: 20px;
    --youtube: red;
    --page-color: #eee;
    --page-background: #222;
    --object-background: #333;
    --footer-background: #333;
    --button-text-color: #222;
    --icon-color: #ccc;
    --search-text-color: #eee;
    --object-background-transparent: #eeeeee50; 
    --snippet-color: #ccc;
}
