/* Light Mode */
:root {
    --accent-color: #8e24aa;
    --accent-color-transparent: #1e88e520;
    --borderRadius: 20px;
    --page-color: #000;
    --object-background: #fff;
    --page-background: #fff;
    --footer-background: #8e24aa;
    --button-text-color: #fff;
    --icon-color: #8e24aa;
    --search-text-color: #111;
    --snippet-color: #555;
}